Repository walkerkaiman/Interaction: changes, and which pre-commit hooks are due for each by the changed paths.
All: quick-tests, api-tests-on-config-changes, frontend-tests-on-ui-changes

quick-tests:
  name: Run quick regression tests
  entry: python tests/run_tests.py quick
  language: system
  pass_filenames: false

api-tests-on-config-changes:
  name: Run API tests on config changes
  entry: python tests/run_tests.py api
  language: system
  pass_filenames: false

frontend-tests-on-ui-changes:
  name: Run frontend tests on UI changes
  entry: python tests/run_tests.py frontend
  language: system
  pass_filenames: false

refactor?
  .gitignore
  .pre-commit-config.yaml
  config/interactions/interactions.json
  docker-compose.test.yml
  gui.py
  main.py
  module_loader.py
  module_wikis/time_input_trigger.md
  modules/audio_output/assets/audio/Funny Games.mp3
  modules/module_base.py
  modules/serial_input_streaming/serial_input.py
  modules/serial_input_trigger/serial_trigger.py
  modules/time_input_trigger/clock_input.py
  modules/time_input_trigger/manifest.json
  requirements.txt
  tests/Makefile
  tests/TESTING_AUTOMATION.md
  tests/__init__.py
  tests/setup_git_hooks.sh
  tests/test_backend_frontend_integration.py
  tests/test_config_persistence.py
  tests/test_config_update.py
  tests/test_event_emission.py
  tests/test_module_lifecycle.py
  tests/test_signal_flow.py
  utils/performance_manager.py
  utils/singleton_utils.py
  web-frontend/package-lock.json
  web-frontend/package.json
  web-frontend/public/module_wikis/time_input_trigger.md
  web-frontend/src/api/ws.ts
  web-frontend/src/pages/Console.tsx
  web-frontend/src/pages/InteractionEditor.tsx
Due: quick-tests, api-tests-on-config-changes, frontend-tests-on-ui-changes

documentation
  README.md
Due: none

fixed console page
  backend/src/index.ts
  validate_project.bat
Due: none

fixed loading waveforms
  backend/src/index.ts
  backend/src/modules/audio_output/index.ts
  backend/test_waveform.png
  config/interactions/interactions.json
Due: quick-tests, api-tests-on-config-changes

added node graph to show interactions
  config/interactions/interactions.json
  loading.html
  web-frontend/package-lock.json
  web-frontend/package.json
  web-frontend/src/pages/Interactions.tsx
Due: quick-tests, api-tests-on-config-changes, frontend-tests-on-ui-changes

manual trigger for audio fixed
  backend/src/index.ts
  backend/src/modules/audio_output/index.ts
  config/interactions/interactions.json
  web-frontend/src/pages/Interactions.tsx
Due: quick-tests, api-tests-on-config-changes, frontend-tests-on-ui-changes

fixed loading screen
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/modules/audio_output/index.ts
  config/interactions/interactions.json
  loading.html
  orchestrator.js
  start_interaction.bat
  web-frontend/index.html
  web-frontend/src/pages/Interactions.tsx
Due: quick-tests, api-tests-on-config-changes, frontend-tests-on-ui-changes

added countdown to time module
  backend/src/core/BaseModule.ts
  backend/src/core/MessageRouter.ts
  backend/src/index.ts
  backend/src/modules/time_input/index.ts
  config/interactions/interactions.json
  frontend/src/pages/Interactions.tsx
Due: quick-tests, api-tests-on-config-changes

Path conditions:
  quick-tests: any of: \.(py|json|yaml|yml)$
  api-tests-on-config-changes: any of: ^(config/|main\.py|.*_router\.py)
  frontend-tests-on-ui-changes: any of: ^(web-frontend/|templates/)
